---
import SearchBar from "./SearchBar.astro";
import styles from "./Body.module.css"
import ButtonsCat from "./ButtonsCat.astro"
---

<div class={styles.body}>
    <SearchBar/>
    <ButtonsCat/>
</div>
