---
import styles from "./ButtonsCat.module.css"
---
<div class={styles.buttonsCat}>
    <div>
        <button>ALL</button>
    </div>
    <div>
        <button>WOMEN</button>
    </div>
    <div>
        <button>MEN</button>
    </div>
    <div>
        <button>PONCHOS</button>
    </div>
    <div>
        <button>CARDIGANS</button>
    </div>
</div>