.cardImage{
    width: 100px;
    height: 150px;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInfoText p{
    font-size: 12px;
    margin: 0;
}

.cart{
    width: 30px;
    height: 30px;
}
