.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo {
    width: 30px;
    height: 30px;
}

.cart {
    width: 30px;
    height: 30px;
}

.divLogo{
    display: flex;
    align-items: center;
    gap: 5px;
}
