---
import Menu from "./Menu.astro"
import styles from "./Header.module.css"
---
<div class={styles.header}>
    <div>
        <Menu></Menu>
    </div>
    <div>
        <div class={styles.divLogoCart}>
            <a href="/" style="text-decoration: none; color: #523B2B;"><h4>Shopping Cart</h4></a>
        </div>
    </div>
    <div></div>
</div>