---
import MenuLogued from "./MenuLogued.astro"
import styles from "./Header.module.css"
---
<div class={styles.header}>
    <div>
        <MenuLogued></MenuLogued>
    </div>
    <div>
        <a href="/"><div class={styles.divLogo}>
            <img src="/logo.png" class={styles.logo} alt="logo"></a>
            <h4>AndesWarmi</h4>
        </div>
    </div>
    <div>
        <a href="/cart"><img src="/cart.png" class={styles.cart} alt="cart"></a>
    </div>
</div>