---
import Menu from "./Menu.astro"
import styles from "./Header.module.css"
---
<div class={styles.header}>
    <div>
        <Menu></Menu>
    </div>
    <div>
        <div class={styles.divLogoCart}>
            <h4>Shopping Cart</h4>
        </div>
    </div>
    <div></div>
</div>