<div>
    <h1 class="register"><img src="/logo.png" alt="">AndesWarmi</h1>
    <div class="registerForm">
        <label for="name">Name</label>
        <input class="registerInput" type="text" placeholder="Name" />
        <label for="email">Email</label>
        <input class="registerInput" type="text" placeholder="Email" />
        <label for="password">Password</label>
        <input class="registerInput" type="password" placeholder="Password" />
        <label for="confirmPassword">Confirm Password</label>
        <input class="registerInput" type="password" placeholder="Confirm Password" />
        <a href="/indexLogued"><button class="registerButton" type="submit">Register</button></a>
    </div>
</div>

<style>
	
    .register{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .register img{
        width: 50px;
        height: 50px;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    h1{
        margin-bottom: 20px;
        color: #523B2B;
    }
    .registerForm{
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .registerInput{
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 90%;
    }
    .registerButton{
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #523B2B;
        color: white;
    }
    .registerButton:hover{
        cursor: pointer;
    }
</style>