
  .searchInput{
    width: 85%;
    padding: 10px;
    border-radius: 25px;
    background-image: url('/public/lupa.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px;
  }
  .searchContainer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}